<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
</head>

<body>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
    <h1>Home Page</h1>
</body>

</html>