<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
</head>

<body>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">Logout</a>
        </li>
    </ul>
    <h1>Login Page</h1>
    <div class="form-group">
        <h2>Login by google</h2>
        <!-- <label for="">Email</label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Help text</small>
        <label for="">Password</label>
        <input type="password" class="form-control" name="" id="" aria-describedby="PasswordHelpId" placeholder="">
        <small id="PasswordHelpId" class="form-text text-muted">Help text</small> -->
        <a type="button" href="/auth/google" class="btn btn-lg btn-block">google +</a>
    </div>
</body>

</html>